{% extends "base.html" %}

{% block content %}
    <div class="span8">
         <div class="block main-panel" id="panel-index">
             <h2 class="text-center">
                <i class="icon-plane"></i>
                 Buscar Vuelos
             </h2>
             <form id="search-form" class="submit" action="resultados.html">
                 <div class="row-fluid spaced span8 offset2 text-center" id="main-buttons-div">
                     <ul class="nav nav-pills text" id="main-buttons">
                      <li class="active" id="round-trip-button"><a href="#">Ida y Vuelta</a></li>
                      <li id="one-way-button"><a href="#">Ida</a></li>
                    </ul>
                 </div>
                 <div class="well">
                    <div class="row-fluid">
                        <div class="span6">
                            <label for="desde"> Desde:</label>
                            <input type="text" class="desde validate-city city city-input margin-bottom0 oneway roundtrip required autocomplete span12" id="desde" placeholder="Ciudad/Aeropuerto de Origen"/>
                        </div>
                        <div class="span6">
                            <label for="hasta"> Hasta:</label>
                            <input type="text" class="hasta validate-city city city-input margin-bottom0 oneway roundtrip required autocomplete span12" id="hasta" placeholder="Ciudad/Aeropuerto de Destino"/>
                        </div>
                    </div>
                    <div class="input-messages row-fluid">
                        <div class="span6">
                            <p id="desde-message" class="text-center input-message hidden"></p>
                        </div>
                        <div class="span6">
                            <p id="hasta-message" class="text-center input-message hidden"></p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6" id="fecha-ida">
                            <label for="ida-datepicker"> Fecha de Ida:</label>
                            <input id="ida-datepicker" type="text" class="fechaida validate-date date span12 datepicker oneway roundtrip required" placeholder="dd/mm/aaaa"/>
                        </div>
                        <div id="return-div" class="span6">
                            <label for="vuelta-datepicker"> Fecha de Vuelta:</label>
                            <input id="vuelta-datepicker" type="text" class="validate-date date span12 datepicker roundtrip required" placeholder="dd/mm/aaaa"/>
                        </div>
                    </div>
                    <p class="validation-error error-message text-center">Por favor, verifique y complete los campos señalados</p>
                </div>
                <div class="row-fluid less-important">
                    <div class="table span6">
                        <div class="table-row" id="labels-people">
                            <div class="table-cell"><label for="adults" class="bootstrap-tooltip" title="Mayores de 12 años">Adultos <i id="adults-info" class="icon-info-sign"></i></label></div>
                            <div class="table-cell"><label for="children" class="bootstrap-tooltip" title="De 2 a 11 años">Niños <i id="children-info" class="icon-info-sign"></i></label></div>
                            <div class="table-cell"><label for="infants" class="bootstrap-tooltip" title="Hasta 2 años">Infantes <i id="infants-info" class="icon-info-sign"></i></label></div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">
                                <select id="adults" class="span10 oneway roundtrip required">
                                    {% for num in range(1,9) %}
                                        <option value="{{ num }}">{{ num }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="table-cell">
                                  <select id="children" class="span10 oneway roundtrip required">
                                    {% for num in range(0,9) %}
                                        <option value="{{ num }}">{{ num }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="table-cell">
                                 <select id="infants" class="span10 oneway roundtrip required">
                                    {% for num in range(0,9) %}
                                        <option value="{{ num }}">{{ num }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span6" id="div-clase">
                        <label for="clase"> Clase:</label>
                        <select id="clase" name="selCombo" class="span12 oneway roundtrip required">
                            <option value="any">Cualquiera</option>
                            <option value="ECONOMY">Turista</option>
                            <option value="BUSINESS">Ejecutiva</option>
                            <option value="FIRST_CLASS">Primera Clase</option>
                        </select>
                    </div>
                </div>
                <input type="submit" value="Buscar" id="search-submit" class="btn btn-primary btn-large pull-right pull-bottom wait-geodata"/>                
            </form>
        </div>
    </div>
    {% include "index/ticket_sales.html" %}
{% endblock content %}
