<script type="text/template" id="flight-details">
        <div id="<%= flight_id %>modal-body" class="modal-body">
            <div class="row-fluid">
                <div class="span12">
                    <h4><%= title %></h4>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span5">
                     <img src="<%= airline_logo_link %>" alt="" />
                    <strong><%= airline_name %></strong>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <strong>Salida:</strong>
                    <span><%= departure_time %></span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <strong>Desde:</strong>
                    <span><%= depart_airport_name %></span>
                    <span>(<%= depart_airport_code %>)</span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <strong>Llegada:</strong>
                    <span><%= arrival_time %></span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <strong>Hasta:</strong>
                    <span><%= arrival_airport_name %></span>
                    <span>(<%= arrival_airport_code %>)</span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <strong>Duracion:</strong>
                    <span><%= flight_duration %></span> hs
                </div>
                <div class="span4">
                    <span class="offset3">
                        <strong>Vuelo:</strong>
                        <span><%= flight_id %></span>
                    </span>
                </div>
                <div class="span4">
                    <span class="pull-right">
                        <strong>Clase:</strong>
                        <span><%= cabin_type %></span>
                    </span>
                </div>
            </div>
        </div>
</script>
