<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Flying Llama!</title>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="icon" href="img/favicon.png"/>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome-ie7.min.css">

    {% block header_stylesheets %}
    {% endblock header_stylesheets %}

    {% block header_scripts %}
    {% endblock header_scripts %}

     <noscript>
        <meta http-equiv="refresh" content="0; URL=javascriptdisabled.html">
    </noscript>
    <title>{% block title %}FlyingLlama!{% endblock title %}</title>
</head>

<body>

    <div class="page-header">
        {% block page_header %}
        <div class="container">
            <a href="{{ index }}">
                <div class="llama-logo-area">
                    <div class="llama-logo-image"></div>
                    <div class="llama-logo-text">
                        <h1>FlyingLlama</h1>
                        <h2>Venta de Pasajes Online</h2>
                    </div>
                </div>
            </a>
        </div>
        {% endblock page_header %}
    </div>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <footer>
    </footer>
    {% block common_scripts %}
        <script src="js/jquery.js"></script>
        <script src="js/autocomplete.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/jquery.filter_input.js"></script>
        <script src="js/jquery.cookie.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/backbone-min.js"></script>
        <script src="js/validations.js"></script>
        <script src="js/common.js"></script>
        <script src="js/model.js"></script>
        <script src="js/views.js"></script>
    {% endblock common_scripts %}

    {% block footer_scripts %}
    {% endblock footer_scripts %}
</body>

</html>
