{% extends "base.html" %}

{% block content %}
    <div class="span10 offset1">
        <ul class="breadcrumb">
              <li><a href="./index.html"><i class="icon-plane"></i> Inicio</a> <span class="divider">/</span></li>
              <li><a href="./resultados.html"><i class="icon-search"></i> Búsqueda</a> <span class="divider">/</span></li>
              <li><a href="./ingresoinfo.html"><i class="icon-group"></i> Pasajeros</a> <span class="divider">/</span></li>
              <li><a href="./ingresoinfopago.html"><i class="icon-shopping-cart"></i> Pago</a> <span class="divider">/</span></li>
              <li class="active"><i class="icon-check-empty"></i> Confirmación</li>
        </ul>

        <div id="booking-panel" class="block main-panel">
            <h3 id="email" class="text-center"><i class="icon-check-empty"></i> Confirmación</h3> <br/>

            <div id="confirmation-info"></div>

            <div id="booking-issuing" class="modal hide">
                <div class="modal-header text-center">
                    <div class="booking-msg">
                        <img src="img/llama-loading.gif" alt="" width="64" height="64"/>
                        <h3>Reservando</h3>
                        <p>Por favor, espere</p>
                    </div>
                    <div class="booking-error-msg no-display">
                        <img src="img/llama-loading-frozen.png" alt="" width="64" height="64"/>
                        <h3 class="text-error">No pudo hacerse la reserva</h3>
                        <p class="text-error">Ocurrió un error inesperado.<p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" id="booking-retry" class="btn btn-info booking-error-msg no-display">Reintentar</a>
                    <a href="#" id="booking-cancel" class="btn">Cancelar</a>
                </div>
            </div>
            <a class="btn btn-primary" href="{{ payment }}"> <i class="icon-chevron-left icon-white"></i>Atrás</a>
            <a id="submit" class="btn btn-primary pull-right btn-large" href="{{ summary }}"><i class="icon-check"></i> Reservar</a>
        </div>
    </div>

    {% include "confirmacion/confirmation-info-template.html" %}

{% endblock content %}

{% block common_scripts %}
    <script src="js/jquery.js"></script>
    <script src="js/autocomplete-city-address.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/jquery.filter_input.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src='js/jquery.mtz.monthpicker.js'></script>
    <script src='js/monthyearcalendar.js'></script>
    <script src="js/validations.js"></script>
    <script src="js/common.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/model.js"></script>
    <script src="js/views.js"></script>
    <script src="js/bookmodel.js"></script>
    <script src="js/bookviews.js"></script>
    <script src="js/confirmacion.js"></script>
{% endblock common_scripts %}
