{% extends "base.html" %}

{% block header_stylesheet %}
    <link rel="stylesheet" href="css/labelsforms.css"/>
{% endblock header_stylesheet %}

{% block content %}
    <div class="span10 offset1">
        <ul class="breadcrumb">
            <li><a href="{{ index }}"><i class="icon-plane"></i> Inicio</a> <span class="divider">/</span></li>
            <li><a href="{{ results }}"><i class="icon-search"></i> Búsqueda</a> <span class="divider">/</span></li>
            <li class="active"><i class="icon-group"></i> Pasajeros</li>
        </ul>

        <div class="block mini-container" id="search-summary-div">
            <p class="text-center" id="search-summary"></p>
        </div>

        <div class="block main-panel">
            <a id="back" href="{{ results }}">« Volver a los Resultados de la Búsqueda </a> <!-- debería guardar cookies -->
            <h3 id="payment" class="text-center"><i class="icon-group icon-large"></i> Pasajeros</h3>

            <div id="passenger-div">
                <form id="passenger-form"></form>
                <p class="offset6">
                    <span class="ast">(*) Campos Obligatorios</span>
                </p>
                <a class="btn btn-primary" data-toggle="button" href="{{ results }}"> <i class="icon-chevron-left icon-white"></i>Atrás</a>
                <a class="btn btn-primary pull-right" id="submit" data-toggle="button" href="#">Continuar<i class="icon-chevron-right icon-white"></i></a>
            </div>
        </div>

    </div>

    {% include "ingresoinfo/passenger-template.html" %}
{% endblock content %}

{% block footer_scripts %}
    <script src="js/bookmodel.js"></script>
    <script src="js/bookviews.js"></script>
    <script src="js/ingresoinfo.js"></script>
{% endblock footer_scripts %}
