{% extends "base.html" %}

{% block header_stylesheets %}
    <link rel="stylesheet" href="css/results.css">
{% endblock header_stylesheets %}

{% block content %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ index }}">
                <i class="icon-plane"></i> Inicio
            </a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            <i class="icon-search"></i> Búsqueda
        </li>
    </ul>

    <div id="search-summary-div" class="block mini-container">
        <p class="text-center">
            <span id="search-summary"></span>
            <a
                id="change-btn"
                class="btn btn-info btn-small change-btn pull-right"
                >Cambiar</a>
        </p>
    </div>

    <div id="search-div" class="block mini-container edit-search-box">
        <form id="search-form" class="submit" action="{{ results }}">
            <div>
                <a id="hide-btn" class="btn btn-info btn-small pull-right">Ocultar</a>
            </div>
            <div class="row-fluid spaced span2 offset5" id="main-buttons2-div">
                <ul class="nav nav-pills text" id="main-buttons2">
                    <li class="active" id="round-trip-button"><a href="#">Ida y Vuelta</a></li>
                    <li id="one-way-button"><a href="#">Ida</a></li>
                </ul>
            </div>
            <div class="row-fluid offset1">
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span6">
                            <span> Desde:</span>
                            <input
                                type="text"
                                class="roundtrip oneway city validate-city autocomplete span12" 
                                id="desde"
                                placeholder="Ciudad/Aeropuerto de origen"/>
                        </div>
                        <div class="span6">
                            <span> Hasta:</span>
                            <input
                                type="text"
                                class="roundtrip oneway city validate-city autocomplete span12" 
                                id="hasta"
                                placeholder="Ciudad/Aeropuerto de destino"/>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <span>Fecha de Ida:</span>
                            <input
                                id="ida-datepicker"
                                type="text"
                                class="roundtrip oneway date validate-date span12 datepicker"/>
                        </div>
                        <div id="return-div" class="span6">
                            <span> Fecha de Vuelta:</span>
                            <input
                                id="vuelta-datepicker"
                                type="text"
                                class="roundtrip date validate-date span12 datepicker"/>
                        </div>
                    </div>
                    <p id="invalid-error" class="error-message text-center">Por favor, verifique los campos señalados</p>
                </div>

                <div class="span4">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <label for="clase"> Clase:</label>
                                <select id="clase" name="selCombo" class="roundtrip oneway">
                                    <option value="any">Cualquiera</option>
                                    <option value="ECONOMY">Turista</option>
                                    <option value="BUSINESS">Ejecutiva</option>
                                    <option value="FIRST_CLASS">Primera Clase</option>
                                </select>
                            </div>
                            <div class="table-row" id="labels-people">
                                <div class="table-cell">
                                    <label
                                        for="adults"
                                        class="bootstrap-tooltip"
                                        title="Mayores de 12 años"
                                        >Adultos <i id="adults-info" class="icon-info-sign"></i></label>
                                </div>
                                <div class="table-cell">
                                    <label
                                        for="children"
                                        class="bootstrap-tooltip"
                                        title="De 2 a 11 años"
                                        >Niños <i id="children-info" class="icon-info-sign"></i></label>
                                </div>
                                <div class="table-cell">
                                    <label
                                        for="infants"
                                        class="bootstrap-tooltip"
                                        title="Hasta 2 años"
                                        >Infantes <i id="infants-info" class="icon-info-sign"></i></label>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell">
                                  <select id="adults" class="span10 oneway roundtrip required">
                                        {% for num in range(1,9) %}
                                            <option value="{{ num }}">{{ num }}</option>
                                        {% endfor %}
                                  </select>
                                </div>
                                <div class="table-cell">
                                    <select id="children" class="span10 oneway roundtrip required">
                                        {% for num in range(0,9) %}
                                            <option value="{{ num }}">{{ num }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="table-cell">
                                    <select id="infants" class="span10 oneway roundtrip required">
                                        {% for num in range(0,9) %}
                                            <option value="{{ num }}">{{ num }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span1 offset11">
                        <input
                            type="submit"
                            value="Buscar"
                            id="search-submit"
                            class="btn btn-primary pull-right wait-geodata"/>
                </div>
            </div>
        </form>
    </div>

    <div id="messages-view" class="row-fluid">
    </div>

    <div id="main" class="row-fluid hidden">

        {% include "resultados/filters.html" %}

        <div id="blockresults" class="block lat-panel span9">
            <div id="results-messages" class="text-center">
            </div>
            <div id="search-results-space">
                <div class="row-fluid">
                    <h3 class="text-center"><i class="icon-search"></i> Resultados de Búsqueda</h3>
                </div>
                <div class="row-fluid">
                    <div class="order">
                        <div id="sort-buttons" class="btn-group" data-toggle="buttons-radio">
                            <button id="total" class="btn btn-small active">
                                <i id="total-ico" class="icon-arrow-down"></i> Precio
                            </button>
                            <button id="airline" class="btn btn-small">
                                <i id="airline-ico" class=""></i> Aerolínea
                            </button>
                            <button id="stopovers" class="btn btn-small">
                                <i id="stopovers-ico" class=""></i> Escalas
                            </button>
                            <button id="duration" class="btn btn-small">
                                <i id="duration-ico" class=""></i> Duración
                            </button>
                        </div>
                    </div>
                </div>
                <div id="results-titles" class="row-fluid hidden">
                    <div id="ida" class="span4">
                        <div class="row-fluid">
                            <h3 class="text-center">Ida</h3>
                        </div>
                    </div>
                    <div id="regreso" class="span4">
                        <div class="row-fluid">
                            <h3 class="text-center">Regreso</h3>
                        </div>
                    </div>
                    <div id="precio" class="span4">
                        <div class="row-fluid">
                            <h3 class="text-center">Precio</h3>
                        </div>
                    </div>
                </div>
                <div id="results" class="row-fluid">
                    <div id="search-results" class="span12">
                    </div>
                </div>
                <div id="confirmationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                </div>
                <div class="row-fluid">
                    <div class="text-center pagination pagination-large">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% include "resultados/confirm-modal-flights.html" %}
{% include "resultados/confirm-modal-header.html" %}
{% include "resultados/confirm-modal-template.html" %}
{% include "resultados/flight-details-modal-window-header.html" %}
{% include "resultados/flight-details.html" %}
{% include "resultados/flight-result-template.html" %}
{% include "resultados/flight-view-footer-template.html" %}
{% include "resultados/flight-view-price.html" %}
{% include "resultados/flight-view-template.html" %}
{% include "resultados/outbound-only-template.html" %}
{% include "resultados/search-results-messages.html" %}

{% block footer_scripts %}
    <script src="js/resultados.js"></script>
{% endblock footer_scripts %}
