{% extends "base.html" %}

{% block content %}
    <div class="span10 offset1">
        <ul class="breadcrumb">
                <li><a href="{{ index }}"><i class="icon-plane"></i> Inicio</a> <span class="divider">/</span></li>
                <li><a href="{{ results }}"><i class="icon-search"></i> Búsqueda</a> <span class="divider">/</span></li>
                <li class="active"><i class="icon-group"></i> Pasajeros <span class="divider">/</span></li>
                <li class="active"><i class="icon-shopping-cart"></i> Pago <span class="divider">/</span></li>
                <li class="active"><i class="icon-check-empty"></i> Confirmación <span class="divider">/</span></li>
                <li class="active"><i class="icon-check"></i> Resumen</li>
        </ul>

        <div class="block main-panel">
            <h3 id="email" class="text-center"><i class="icon-check"></i> Resumen</h3> <br/>
            <div id="purchase-ok" class="text-center alert alert-success">¡La reserva se ha realizado con éxito!</div>
            <div id="confirmation-info"></div>
            <a id="print" class="btn btn-info btn-large print" data-toggle="button" href="#"> <i class="icon-print icon-white"></i> Imprimir</a>
            <a class="btn btn-primary btn-large pull-right" data-toggle="button" href="{{ index }}"><i class="icon-plane"></i> Inicio</a>
        </div>
    </div>

    {% include "resumen/confirmation-info-template.html" %}

{% endblock content %}

{% block common_scripts %}
    <script src="js/jquery.js"></script>
    <script src="js/autocomplete-city-address.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/jquery.filter_input.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src='js/jquery.mtz.monthpicker.js'></script>
    <script src='js/monthyearcalendar.js'></script>
    <script src="js/validations.js"></script>
    <script src="js/common.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/model.js"></script>
    <script src="js/views.js"></script>
    <script src="js/bookmodel.js"></script>
    <script src="js/bookviews.js"></script>
    <script src="js/confirmacion.js"></script>
    <script src="js/resumen.js"></script>
{% endblock common_scripts %}
